# Ignore the test and its contents
tests/sounds/*

bin/

# Ignore settings.json file
settings.json

# Ignore all __pycache__ directories and their contents
__pycache__/
**/__pycache__/

# Ignore all .pyc files everywhere
*.pyc

audio/__pycache__/__init__.cpython-312.pyc
audio/__pycache__/mic_mixer.cpython-312.pyc
audio/__pycache__/sound_manager.cpython-312.pyc
__pycache__/config.cpython-312.pyc
audio/__pycache__/audio_format_utils.cpython-312.pyc
ui/__pycache__/__init__.cpython-312.pyc
ui/__pycache__/sound_grid_widget.cpython-312.pyc
ui/__pycache__/main_window.cpython-312.pyc
